<!doctype html>
<html>
  <head>
    <title>Japanese Conjugations</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/fe0612b0-5d84-4b23-8faa-9969138860bf%2Ffavicon.ico?1499777044345" type="image/x-icon">
    <link rel="icon" href="https://cdn.glitch.com/fe0612b0-5d84-4b23-8faa-9969138860bf%2Ffavicon.ico?1499777044345" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  {{#result}}
    <h1 class="correct">Correct</h1>
  {{/result}}
  {{^result}}
    <h1 class="incorrect">Incorrect</h1>
    <p>You answered {{guess}}, but the answer was {{actual}}</p>
  {{/result}}
  <form action="/test" method="get">
    <button type="submit" autofocus>next</button>
  </form>
  </body>
</html>