<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Setup</h1>
    <p>Pick the conjugations you'd like to be tested on:
    <form action="/test" method="get">
      {{#conjugations}}
      <div>
        <input type="checkbox" name="{{name}}" {{#enabled}}checked{{/enabled}}>
        <label>{{name}}</label>
      </div>
      {{/conjugations}}
      <hr>
      <div>
        <input type="checkbox" name="kanjiOptional" {{#kanjiOptional}}checked{{/kanjiOptional}}>
        <label>kanji optional</label>
      </div>
      <input name="settings" value="on" type="hidden">
      <button type="submit">begin</button>
    </form>
    <p>Cobbled together with ❤️ by <a href="https://qubyte.codes">qubyte</a>.</p>
  </body>
</html>
